$primary-color: #DEEDFF;
$font-family:'Roboto Serif', serif;
$h3:15px;



.menu {
    text-align: center;
    background-color: $primary-color; 
}
.menu li{
    display: inline-block;
    padding: 30px;
   
}
   
.menu a {
    font-size: 15px;
    font-family: $font-family;
    text-decoration: none;
    color: black;
  
}
.menu a:hover,
.menu a:focus,
.menu a:active{
    border:3px solid black;
  
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}
h3,h1{
    text-align: center;
    font-family: $font-family; 
} 
h3{
    font-size: $h3; 
    font-style: italic;  
}
p{
    font-size: 10px;
} 
.container{
    position: relative;
    min-height: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: url(image/pejsek4.png) no-repeat  center/contain;
  
      
}


.container__firt{
    
    width:500px;
    height: 100px;
    text-align: center;
    background: white;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 5px;
    align-content: center;
    align-items: center;
     
}
.container__second{
    align-content: center;
    width:500px;
    height: 100px;
    text-align: center;
    background: white;
    font-size: 20px;
    margin-bottom: 50px;
   
}
.footer{
    text-align: center;
    background-color: $primary-color
}
.footer p{
    font-size: 9px;
}
@media screen and (min-width: 640px){
    h1,
    h3,
    p{
        font-size: 15px;
    }
    .container{
        display: flex;
        justify-content: space-around;
    }
    .container__firt,
    .container__second{
        width: 100px;
        height: 100px ;
        background-color: #DEEDFF;
        justify-content: center;
        display: flex;
    }
    
}  
